<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<t1>Welcome to the East Asian Culture Club</t1>
</head>

<body>
	<div class="login" style="position:absolute; top:150px;">
		<label for="email">Email: </label>
		<input type="text" name="email" placeholder="Email Address" value=""> <br>
		<label for="password">Password: </label>
		<input type="password" name="password" placeholder="Password" value=""> <br>
		<input type="submit" id="sub" value="Login"> <br>
		<input type="button" onclick="window.location ='<?php echo site_url('register')?>'" value="Register">
	</div>
</body>
</html>
